# Python - Analisando Dados com Python

### Case - Loja de vendas

Objetivo: Esse estudo é sobre uma loja de roupas de porte médio , fui chamado para ajudar na analise solução de problemas:

Problema 1 : Você precisa descobrir de cada funcionário o total de vendas;

Problema 2 : Você precisa descobrir qual é o produto mais e o menos vendido por cada funcionário;

Problema 3 : Você precisa descobrir qual é o produto mais e menos vendido no total;


Problema 4 : Você precisa descobrir qual é o funcionário que teve o maior total de vendas em um determinado período (por exemplo, nos últimos 30 dias);

Problema 5 : Você precisa descobrir qual é o funcionário que teve o menor total de vendas em um determinado período (por exemplo, nos últimos 30 dias);

In [ ]:
# Importar librarys para análise
#!pip install pandas numpy openpyxl nbformat plotly

In [5]:
import pandas as pd

#lendo a base de dados da tabela csv
tabela = pd.read_csv("vendas_loja.csv")
#dropando dados que não são relevantes ID
tabela = tabela.drop(columns="ID Venda")
#mostra os dados de forma mais bonita e relevante
display(tabela)

,Data Venda,ID Funcionário,Categoria,Produto,Quantidade,Preço Unitário,Total da Venda
0,2024-09-30,F050,criança,Camiseta,3,90.44,271.32
1,2024-10-08,F006,criança,Camiseta,3,16.55,49.65
2,2024-10-08,F018,criança,Bermuda,5,26.92,134.60
3,2024-09-27,F042,criança,Calça Infantil,4,99.21,396.84
4,2024-10-01,F012,adulto,Calça,2,30.62,61.24
...,...,...,...,...,...,...,...
95,2024-09-16,F012,criança,Calça Infantil,1,59.50,59.50
96,2024-10-05,F049,adulto,Calça,4,90.17,360.68
97,2024-09-22,F036,adulto,Camisa,2,32.41,64.82
98,2024-10-08,F006,adulto,Vestido,1,65.62,65.62
99,2024-10-04,F019,adulto,Camisa,2,15.12,30.24

In [6]:
#Verificando se tem campos vazios que pode dar diferença na da base de dados
#mostra dados da tabela
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data Venda      100 non-null    object
 1   ID Funcionário  100 non-null    object
 2   Categoria       100 non-null    object
 3   Produto         100 non-null    object
 4   Quantidade      100 non-null    int64
 5   Preço Unitário  100 non-null    float64
 6   Total da Venda  100 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 5.6+ KB

None

In [30]:
# Iniciando Análise dos dados
#calcular quanto cada funcionario vendeu:
dados=tabela[["ID Funcionário","Total da Venda"]].groupby('ID Funcionário').sum()
#display(dados)

# Funcionário que mais vendeu
id_mais_vendeu = dados['Total da Venda'].idxmax()  # ID do funcionário que mais vendeu
total_mais_vendeu = dados['Total da Venda'].max()  # Total de vendas do funcionário que mais vendeu
print(f"Funcionário que mais vendeu: {id_mais_vendeu} com um total de vendas de: {total_mais_vendeu}")

# Funcionário que menos vendeu
id_menos_vendeu = dados['Total da Venda'].idxmin()  # ID do funcionário que menos vendeu
total_menos_vendeu = dados['Total da Venda'].min()  # Total de vendas do funcionário que menos vendeu
print(f"Funcionário que menos vendeu: {id_menos_vendeu} com um total de vendas de: {total_menos_vendeu}")

Funcionário que mais vendeu: F018 com um total de vendas de: 1068.09
Funcionário que menos vendeu: F030 com um total de vendas de: 17.03

In [57]:
#calcular total de cada produto vendido por funcionario :
total_prod_vendidos_por_func=tabela[["ID Funcionário","Produto","Total da Venda"]].groupby(["ID Funcionário","Produto"]).sum()
#display(total_prod_vendidos_por_func)
# Encontrar o produto mais vendido por cada funcionário
produto_mais_vendido_por_func = total_prod_vendidos_por_func.loc[total_prod_vendidos_por_func.groupby('ID Funcionário')['Total da Venda'].idxmax()]
#display(produto_mais_vendido_por_func)

# Encontrar o produto mais vendido por cada funcionário
produto_menos_vendido_por_func = total_prod_vendidos_por_func.loc[total_prod_vendidos_por_func.groupby('ID Funcionário')['Total da Venda'].idxmin()]
#display(produto_menos_vendido_por_func)

#busca pelo total de vendas de cada produto
total_vendas_por_prod=tabela[["Produto","Total da Venda"]].groupby("Produto").sum()
#display(total_vendas_por_prod)
#busca pelo produto mais vendido
prod_mais_vendido=total_vendas_por_prod.loc[total_vendas_por_prod["Total da Venda"].idxmax()]
display(prod_mais_vendido)

#busca pelo produto menos vendido
prod_menos_vendido=total_vendas_por_prod.loc[total_vendas_por_prod["Total da Venda"].idxmin()]
display(prod_menos_vendido)

Total da Venda    2168.16
Name: Calça, dtype: float64

Total da Venda    986.28
Name: Casaco Infantil, dtype: float64